<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/59f79074-a660-4bac-866f-14dadec81310/resourceGroups/FamiDesk/providers/Microsoft.Web/sites/FamiDeskMobileApp</ResourceId>
    <ResourceGroup>FamiDesk</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://famideskmobileapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>famideskmobileapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FamiDeskMobileApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FamiDeskMobileApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_NotificationHubConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_NotificationHubConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MS_TableConnectionString" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:famidesk-sqlserver.database.windows.net,1433;Initial Catalog=famidesk-database;Persist Security Info=True;User ID=famidesk-admin;Password=Micdevcamp2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FamiDesk.Mobile.App.MobileAppService.Models.MasterDetailContext, FamiDesk.Mobile.App.MobileAppService" MigrationConfiguration="FamiDesk.Mobile.App.MobileAppService.Migrations.Configuration, FamiDesk.Mobile.App.MobileAppService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_NotificationHubConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:famidesk-sqlserver.database.windows.net,1433;Initial Catalog=famidesk-database;Persist Security Info=True;User ID=famidesk-admin;Password=Micdevcamp2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:famidesk-sqlserver.database.windows.net,1433;Initial Catalog=famidesk-database;Persist Security Info=True;User ID=famidesk-admin;Password=Micdevcamp2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:famidesk-sqlserver.database.windows.net,1433;Initial Catalog=famidesk-database;Persist Security Info=True;User ID=famidesk-admin;Password=Micdevcamp2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:famidesk-sqlserver.database.windows.net,1433;Initial Catalog=famidesk-database;Persist Security Info=True;User ID=famidesk-admin;Password=Micdevcamp2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:famidesk-sqlserver.database.windows.net,1433;initial catalog=famidesk-database;persist security info=True;user id=famidesk-admin;password=Micdevcamp2017;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:famidesk-sqlserver.database.windows.net,1433;initial catalog=famidesk-database;persist security info=True;user id=famidesk-admin;password=Micdevcamp2017;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:famidesk-sqlserver.database.windows.net,1433;initial catalog=famidesk-database;persist security info=True;user id=famidesk-admin;password=Micdevcamp2017;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:famidesk-sqlserver.database.windows.net,1433;initial catalog=famidesk-database;persist security info=True;user id=famidesk-admin;password=Micdevcamp2017;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:famidesk-sqlserver.database.windows.net,1433;Initial Catalog=famidesk-database;Persist Security Info=True;User ID=famidesk-admin;Password=Micdevcamp2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:famidesk-sqlserver.database.windows.net,1433;Initial Catalog=famidesk-database;Persist Security Info=True;User ID=famidesk-admin;Password=Micdevcamp2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:famidesk-sqlserver.database.windows.net,1433;Initial Catalog=famidesk-database;Persist Security Info=True;User ID=famidesk-admin;Password=Micdevcamp2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:famidesk-sqlserver.database.windows.net,1433;Initial Catalog=famidesk-database;Persist Security Info=True;User ID=famidesk-admin;Password=Micdevcamp2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:famidesk.database.windows.net,1433;Initial Catalog=FamiDeskDatabase;Persist Security Info=True;User ID=FarmiDesk-Admin;Password=DevCamp2017;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>